html {
  height: 100%;
  width: 100%;
}

div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	padding: 10px;
}